<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.demo.Service.Mapper.ArticleMapper">
     <insert id="insertArticle">
         insert into blog.article(name,master,address) values (#{theme},#{userName},#{address});
     </insert>
     <select id="findAddress" resultType="java.lang.String">
         select address from blog.article where name=#{theme} and master=#{userName}
     </select>
     <select id="findArticleByMaster" resultType="Article">
         select *from blog.article where master=#{userName}
     </select>
     <select id="findArticleByTheme" resultType="Article">
         select *from blog.article where master=#{userName} and name like #{themeLike}
     </select>
    <select id="findArticle" resultType="Article">
        select *from blog.article limit 100
    </select>
    <select id="findAllArticleByTheme" resultType="Article">
        select *from blog.article where name like #{themeLike} limit 100
    </select>
    <delete id="deleteArticlesByAddress">
        delete from blog.article where address=#{address}
    </delete>
    <update id="collectIncrease">
        update blog.article set collect_num=collect_num+1 where address=#{address}
    </update>
    <update id="thumbsIncrease">
        update blog.article set thumbs_up=thumbs_up+1 where address=#{address}
    </update>
    <update id="collectDecrease">
        update blog.article set collect_num=collect_num-1 where address=#{address}
    </update>
    <update id="thumbsDecrease">
        update blog.article set thumbs_up=thumbs_up-1 where address=#{address}
    </update>
    <select id="getCollectAndThumbsByAddress" resultType="Article">
        select * from blog.article where address=#{address}
    </select>
</mapper>