<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>html5上传头像</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet href="css/zzsc-demo.css">
    <link rel="stylesheet" href="css/icons.css" />
    <script src="js/mo.min.js"></script>
    <script src="js/demo.js"></script>
</head>

<body>
<section class="content">
    <ol class="grid">
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
        <li class="grid__item">
            <button class="icobutton icobutton--thumbs-up"><span class="fa fa-thumbs-up"></span></button>
        </li>
    </ol>
</section>
</body>

</html>