<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>html5上传头像</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://csdnimg.cn/release/blogv2/dist/pc/css/blog_code-01256533b5.min.css">
    <link rel="stylesheet" href="https://csdnimg.cn/release/blogv2/dist/mdeditor/css/editerView/chart-3456820cac.css">
</head>

<body>
<pre class="prettyprint" style="background-color: #d4d3d3">
    <code class="has-numbering" style="font-family: Helvetica">
        ajhdfgjhd
        ksdhfk
        kdsfjhkl
        Mdjyygf
    </code>
</pre>
</body>

</html>